body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    overflow: hidden;
    margin: 0;
}

table {
    border-collapse: collapse;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

td, th {
    border: none;
    padding: 15px;
    height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes pulse {
    0%, 100% { background-color: #ff5500; }
    50% { background-color: #ff7700; }
}

th {
    background-color: #ff5500;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    animation: pulse 2s infinite ease-in-out;
}

tr:first-child th, tr:last-child th, tr td:first-child {
    background-color: #ff5500;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    animation: pulse 2s infinite ease-in-out;
}

tr:last-child td {
    background-color: #ff5500;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    animation: pulse 2s infinite ease-in-out;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    color: #333;
}

tr, th, td {
    transition: background-color 0.3s ease;
}
td {
    color: #000;
}